/*  filename: restaurant-styles.css
 *  Name: Sean Gallogly
 *  Date Created: 09/14/2019
 *  Most recent revision: 09/19/2019
 */
header, footer {
    font-family: 'Shadows Into Light', cursive;
    background-color: #d1b58a;
    color: #332f2d;
    margin-top: 10px;
    border:thin solid #d8aa95;
    padding: 25px 10px 25px 10px;
    height: 138px; 
    text-align: center;
}

header h1 {
    font-size: 3em;
}

footer p {
    font-size: 1.5em;
}

.active .oi-home {
    color: #332f2d;
}

.oi-home {
    color: #fdefd3; 
}

.page-header {
    margin: 5px;
    padding: 10px;
}

nav {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
}

nav a {
    font-family: 'Shadows Into Light', cursive;
    background-color: #c2734e;
    color: #fef9ff;
    text-align: center;
    margin: 4px;
    border: thin solid #fef9ff;
    padding: 2px;
    width: 100px;
    float: left;
}

nav a:visited {
    color: #f1cdd0; 
}

/* Hack to make home icon same color as visited tabs
   As I am not sure how Bootstrap glyphicons overwrite
   external stylesheets within the project root */
.oi-home {
    color: #f1cdd0;   
}

nav a:hover {
    font-weight: bold;
}

section {
    background-color: #fdefd3;
    color: #332f2d;
    font-family: 'Shadows Into Light', cursive;
    margin: 10px auto 10px auto;
    border:thin solid #68361e;
}